/* ========================================
   ============ Text Overrides ===========
   ======================================== */

.is-muted {
  color: $grey-light !important;
}

a.is-muted:hover{
  color: $grey !important;
}

.nav-item img {
  max-height: 2.8rem;
}

.nav {
  height: 4.5rem;
}
.navbar-brand .brand-item {
  margin-right: 5px;
  margin-left: 10px;
  @include desktop {
    margin-right: 15px;
  }
}
